﻿@model Modul2TestMiljanVasovic.Models.ViewModels.ArtikalKategorijaViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<head>
    <script src="~/Scripts/Skripta1.js"></script>
</head>

<a href="/Artikal/Index">Listing artikala</a>

<h2>Dodaj novi artikal</h2>
@using (Html.BeginForm("Create", "Artikal", FormMethod.Post))
{
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(n => n.ArtikalModel.Id)


        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.NazivArtikla)
            @Html.TextBoxFor(n => n.ArtikalModel.NazivArtikla)
            @Html.ValidationMessageFor(n => n.ArtikalModel.NazivArtikla)
        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.Cena)
            @Html.TextBoxFor(n => n.ArtikalModel.Cena)
            @Html.ValidationMessageFor(n => n.ArtikalModel.Cena)
        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.Marka)
            @Html.TextBoxFor(n => n.ArtikalModel.Marka)
            @Html.ValidationMessageFor(n => n.ArtikalModel.Marka)
        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.Opis)
            @Html.TextBoxFor(n => n.ArtikalModel.Opis)
            @Html.ValidationMessageFor(n => n.ArtikalModel.Opis)
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <b>Izaberite kategoriju:</b>
                @Html.DropDownListFor(m => m.SelektovaniKategorejeOdeceId, new SelectList(Modul2TestMiljanVasovic.fonts.Helper.List.GetAll(), "KategorijaId", "NazivKategorije"))


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <br />
                <b>Izaberite tip:</b>
                @Html.DropDownListFor(m => m.SelektovaniTipOdeceId, new SelectList(Modul2TestMiljanVasovic.fonts.Helper.List1.GetAll(), "TipId", "NazivTipa"))

                <br />
                <br />
                <input type="submit" value="Submit" />
            </div>
        </div>

        @*@section scripts
            {
                @Scripts.Render("~/bundles/Validation.js")
                }*@

    </form>

}