﻿@model IPagedList<Modul2TestMiljanVasovic.Models.ArtikalModel>


@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;
<h2>Index</h2>



<h2>Listing svih artikala</h2>


<p>
    <a href="/Artikal/Create">Dodaj novi artikal</a>
</p>
<p>
    <a href="/Artikal/Index">Pocetna stranica</a>
</p>
<p>
    <a href="/KategorijaOdece/Index">Listing kategorija odece</a>

</p>
<p>
    <a href="/TipOdece/Index">Listing Tipova odece</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Naziv
        </th>

        <th>
            Cena
        </th>
        <th>
            Marka
        </th>
        <th>
            Opis
        </th>
        <th>
            Identifikacioni broj kategorije
        </th>

        <th>
            Identifikacioni broj tipa odece
        </th>

    </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.NazivArtikla
            </td>
            <td>
                @item.Cena
            </td>
            <td>
                @item.Marka
            </td>
            <td>
                @item.Opis
            </td>
            <td>
                @item.IdKategorije
            </td>


            <td>
                @item.IdTipa
            </td>

           



            <td>
                <a href="/Artikal/Brisi/@item.Id">Brisi</a>
            </td>
            <td>
                <a href="/Artikal/Izmeni/@item.Id">Izmeni</a>
            </td>

        </tr>

        }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", "Artikal", new { page, searchString = Request.QueryString["searchString"] }))
