﻿@model Modul2TestMiljanVasovic.Models.ViewModels.ArtikalKategorijaViewModel
@{
    ViewBag.Title = "Izmeni";
}

<h2>Izmeni</h2>






@using (Html.BeginForm("Izmeni", "Artikal", FormMethod.Post))
{
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(n => n.ArtikalModel.Id)

        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.NazivArtikla)
            @Html.TextBoxFor(n => n.ArtikalModel.NazivArtikla)
            @Html.ValidationMessageFor(n => n.ArtikalModel.NazivArtikla)
        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.Cena)
            @Html.TextBoxFor(n => n.ArtikalModel.Cena)
            @Html.ValidationMessageFor(n => n.ArtikalModel.Cena)
        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.Marka)
            @Html.TextBoxFor(n => n.ArtikalModel.Marka)
            @Html.ValidationMessageFor(n => n.ArtikalModel.Marka)
        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.ArtikalModel.Opis)
            @Html.TextBoxFor(n => n.ArtikalModel.Opis)
            @Html.ValidationMessageFor(n => n.ArtikalModel.Opis)
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <br />
                <b>Izaberite kategoriju odece</b>
                @Html.DropDownListFor(m => m.SelektovaniKategorejeOdeceId, new SelectList(Modul2TestMiljanVasovic.fonts.Helper.List.GetAll(), "KategorijaId", "NazivKategorije"))
                @Html.ValidationMessageFor(m => m.SelektovaniKategorejeOdeceId)

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <br />
                <b>Izaberite tip odece</b>
                @Html.DropDownListFor(m => m.SelektovaniTipOdeceId, new SelectList(Modul2TestMiljanVasovic.fonts.Helper.List1.GetAll(), "TipId", "NazivTipa"))
                @Html.ValidationMessageFor(m => m.SelektovaniTipOdeceId)
                <br />
                <br/>
                <input type="submit" value="Submit" />
            </div>
        </div>
        @*@section scripts
            {
                @Scripts.Render("~/bundles/Validation.js")
                }*@

    </form>

}