﻿@model Modul2TestMiljanVasovic.Models.ViewModels.ArtikalKategorijaViewModel
@{
    ViewBag.Title = "Create";
}

<a href="/TipOdece/Index">Listing tipova odece</a>

<h2>Dodaj tip odece</h2>

@using (Html.BeginForm("Create", "TipOdece", FormMethod.Post))
{
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(m => m.tipOdeceModel.TipId)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.tipOdeceModel.NazivTipa)
            @Html.TextBoxFor(m => m.tipOdeceModel.NazivTipa)
            @Html.ValidationMessageFor(m => m.tipOdeceModel.TipId)
        </div>
        <div class="form-group">
            <input class="btn-default" type="submit" />
        </div>
    </form>
}