﻿@model IEnumerable<Modul2TestMiljanVasovic.Models.TipOdeceModel>
@{
    ViewBag.Title = "Index";
}


    <h2>Listing svih tipova odece</h2>

    <p>
        <a href="/TipOdece/Create">Dodaj novi tip</a>
    </p>
    <p>
        <a href="/Artikal/Index">Listing artikala</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Identifikacioni broj tipa odece
            </th>
            <th>
                Naziv tipa odece
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TipId
                </td>
                <td>
                    @item.NazivTipa
                </td>
                <td>
                    <a href="/TipOdece/Brisi/@item.TipId ">Brisi</a>
                </td>
                <td>
                    <a href="/TipOdece/Izmeni/@item.TipId">Izmeni</a>
                </td>
            </tr>
        }

    </table>
