﻿@model Modul2TestMiljanVasovic.Models.ViewModels.ArtikalKategorijaViewModel
@{
    ViewBag.Title = "Create";
}


<a href="/KategorijaOdece/Index">Listing kategorija odece</a>

<h2>Dodaj kategoriju odece</h2>

@using (Html.BeginForm("Create", "KategorijaOdece", FormMethod.Post))
{
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(m => m.KategorijaOdeceModel.KategorijaId)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.KategorijaOdeceModel.NazivKategorije)
            @Html.TextBoxFor(m => m.KategorijaOdeceModel.NazivKategorije)
            @Html.ValidationMessageFor(m => m.KategorijaOdeceModel.NazivKategorije)
        </div>
        <div class="form-group">
            <input class="btn-default" type="submit" />
        </div>
    </form>
}