﻿@model IEnumerable<Modul2TestMiljanVasovic.Models.KategorijaOdeceModel>
@{
    ViewBag.Title = "Index";
}


    <h2>Listing svih kategorija</h2>

    <p>
        <a href="/KategorijaOdece/Create">Dodaj novu kategoriju</a>
    </p>
    <p>
        <a href="/Artikal/Index">Listing artikala</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Identifikacioni broj kategorije
            </th>
            <th>
                Naziv kategorije
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.KategorijaId
                </td>
                <td>
                    @item.NazivKategorije
                </td>
                <td>
                    <a href="/KategorijaOdece/Brisi/@item.KategorijaId ">Brisi</a>
                </td>
                <td>
                    <a href="/KategorijaOdece/Izmeni/@item.KategorijaId">Izmeni</a>
                </td>
            </tr>
        }

    </table>
