﻿@model Modul2TestMiljanVasovic.Models.ViewModels.ArtikalKategorijaViewModel

@{
    ViewBag.Title = "Izmeni";
}

<h2>Izmeni</h2>


@using (Html.BeginForm("Izmeni", "KategorijaOdece", FormMethod.Post))
{
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(n => n.KategorijaOdeceModel.KategorijaId)

        </div>
        <div class="form-group">
            @Html.LabelFor(n => n.KategorijaOdeceModel.NazivKategorije)
            @Html.TextBoxFor(n => n.KategorijaOdeceModel.NazivKategorije)
            @Html.ValidationMessageFor(n => n.KategorijaOdeceModel.NazivKategorije)
        </div>
        <div class="form-group">
            <input class="btn-default" type="submit" />
        </div>
    </form>


}